<!DOCTYPE html>
<html>
    <head>
        <!-- ESTILOS -->
        {% block stylesheets %}
            <link href="{{ asset('index.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}Pág Ver lista canciones{% endblock %}</title>
    </head>
    <body>
        {% block body %}

            <a href="../index.html">Volver a la página inicial</a>

            <div class="canciones">
                <h1>Lista de canciones</h1>
                {% for cancion in canciones %}
                    <img src={{ cancion.ruta }}><p>{{ cancion.nombre }} - {{ cancion.autor }} - {{ cancion.fecha }}</p>
                    <br />
                    <hr>
                    <br />
                    <br />
                {% endfor %}
            </div>

        {% endblock %}
    </body>
</html>