{% block title %}Pág Ver lista productos{% endblock %}
{% block body %}

    <a href="../index.html">Volver al Index</a>
    <br />
    <br />
    <a href="/carrito/ver">Carrito</a>

    <h1 align="center">Tienda</h1>

    <div align="center">
        {% for producto in productos %}
            <img src={{ producto.rutaImagen }} width="170px"><p>{{ producto.nombre }} - {{ producto.precio}}€</p> 
            <p>Descripcion: {{producto.descripcion}}</p>
            <form action={{ path('carrito_agregar') }} method="post">
                <input type="submit" value="Añadir al carrito">
                <input type="hidden" name="id_producto" value={{ producto.id }}>
            </form>
            <br />
            <br />
            <br />
        {% endfor %}
    <div>

{% endblock %}