<!DOCTYPE html>
<html>
    <head>
        <!-- ESTILOS -->
        {% block stylesheets %}
            <link href="{{ asset('index.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}P치g Registro o Login{% endblock %}</title>
    </head>
    <body>
        {% block body %}

            <a href="../index.html">Volver a la p치gina inicial</a>

            <div class="formularios">

                <h1>Login:</h1>

                {% if error %}
                    <div>{{error.messageKey|trans(error.messageData,'security')}}</div>
                {% endif %}

                <form action={{ path('app_login') }} method="post" >
                    <label for="username" >Correo</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">

                    <label for="password" >Contrase침a</label>
                    <input type="password" id="password" name="_password">

                    <button type="submit">login</button>
                </form>

                <br />
                <hr>

                <h1>Registro:</h1>

                {{ form_errors(RegistroForm) }}

                {{ form_start(RegistroForm) }}
                    {{ form_row(RegistroForm.nombre) }}
                    {{ form_row(RegistroForm.email) }}
                    {{ form_row(RegistroForm.plainPassword, {
                        label: 'Contrase침a'
                    }) }}
                    {{ form_row(RegistroForm.aceptarTerminos) }}
                    <button type="submit">Registrarse</button>
                {{ form_end(RegistroForm) }}
            </div>

        {% endblock %}
    </body>
</html>