{% block title %}Pág Registro o Login{% endblock %}

{% block body %}

    <a href="../index.html">Volver al Index</a>

    <div align="center">
        <h1>Registro:</h1>

        {{ form_errors(RegistroForm) }}

        {{ form_start(RegistroForm) }}
            {{ form_row(RegistroForm.nombre) }}
            {{ form_row(RegistroForm.email) }}
            {{ form_row(RegistroForm.plainPassword, {
                label: 'Contraseña'
            }) }}
            {{ form_row(RegistroForm.aceptarTerminos) }}
            <button type="submit">Registrarse</button>
        {{ form_end(RegistroForm) }}
    </div>

{% endblock %}