<!DOCTYPE html>
<html>
    <head>
        <!-- ESTILOS -->
        {% block stylesheets %}
            <link href="{{ asset('index.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}Pág Ver lista canciones{% endblock %}</title>
        <!-- Fuentes/Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body class="body">
        {% block body %}

            {# MENU #}
            {% include 'menu.html.twig' %}

            <!-- CAMINO DE MIGAS -->
            <div class="caminoMigas">
                <ol>
                <li class="migasAnt"><a href="{{ path('index') }}">Página principal</a></li>
                <p>/</p>
                <li class="migasAct">Vídeos</li>
                </ol>
            </div>

            <section class="seccionVideos">
                <div class="buscadorCanciones">
                    <label><i class="bi bi-search"></i><input type="text" placeholder="Buscar vídeos o covers"></label>
                </div>

                {% for video in videos %}
                    <article class="tarjetaVideo">
                        <iframe width="560" height="315" src={{ video.ruta }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div>
                            <span>
                                <h1>{{ video.titulo }}</h1>
                            </span>
                            <h1>{{ video.autor }}</h1>
                        </div>
                    </article>
                {% endfor %}

            </section>

            {# PIE DE PÁGINA #}
            {% include 'piePagina.html.twig' %}

        {% endblock %}

        {# INCLUDE JS #}
        <script src="{{ asset('include-html.js')}}"></script>
    </body>
</html>